<ion-header>

  <ion-navbar>
    <ion-title>{{widget.name}}</ion-title>
    <ion-buttons end>
      <button ion-button [disabled]="widget.paramCount !== widget.parameters.length" (click)="save()" clear icon-only>
        Save
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let param of listArr; let i=index">
      <ion-label>Connector #{{i+1}}</ion-label>
      <ion-select [(ngModel)]="widget.parameters[i]">
        <ion-option *ngFor="let idx of listValues" [value]="idx">{{idx}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
