<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button *ngIf="segment !== 'settings'" (click)="addWidget()" icon-only clear>
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button *ngIf="segment === 'settings'" (click)="updateProject()" clear>
        Save
      </button>
    </ion-buttons>
    <ion-title>{{project?.name}}</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="widgets">
        <ion-icon name="speedometer"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="triggers">
        <ion-icon name="play"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="settings">
        <ion-icon name="settings"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'widgets'" class="widgets">
      <ng-container *ngIf="!widgets || !widgets.length">
        <p text-center>
          No active widgets or sensors
        </p>
        <button ion-button (click)="addWidget()" icon-left round class="add-widget">
          <ion-icon name="add"></ion-icon>
          ADD
        </button>
      </ng-container>
      <ion-list *ngIf="widgets" padding-top>
        <ion-item-sliding *ngFor="let widget of widgets">
          <ion-item>
            {{widget.name}}
          </ion-item>
      
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="removeWidget(widget)">Remove</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
    <div *ngSwitchCase="'triggers'" class="triggers" text-center>
      <div>
          <h6>No Triggers & Alerts yet</h6>
          <p>No Triggers & Alerts yet</p>
          <h4>Add New Triggers & Alerts</h4>
      </div>
    </div>
    <div *ngSwitchCase="'settings'" class="settings">
      <ion-list margin-top>
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input placeholder="Project Name" [(ngModel)]="project.name"></ion-input>
        </ion-item>
      </ion-list>
      <div class="delete-project">
        <button ion-button (click)="deleteProject()" color="danger" full>
          Delete Project
        </button>
      </div>
    </div>
  </div>

</ion-content>
