<ion-menu [content]="content">
  <ion-content>
    <ion-list>
      <ion-item no-lines *ngIf="currentUser">
        <ion-avatar item-start>
          <img [src]="currentUser.picture">
        </ion-avatar>
        <h2>{{currentUser.nickname}}</h2>
        <p>{{currentUser.name}}</p>
        <button ion-button menuClose (click)="logout()" clear icon-only item-end>
          <ion-icon name="exit"></ion-icon>
          <!-- <ion-icon name="settings"></ion-icon> -->
        </button>
      </ion-item>
      <button menuClose ion-item icon-left detail-none no-lines *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-row>
      <ion-col text-center>EULA</ion-col>
      <ion-col text-center>TERMS</ion-col>
      <ion-col text-center>PRIVACY POLICY</ion-col>
    </ion-row>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>