<ion-header>

  <ion-navbar>
    <ion-title>Add Widget</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-title class="sub-title">New</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <p padding-left>
    Custom Widgets
  </p>
  <ng-container *ngFor="let widget of widgets; let i=index">
    <ion-row *ngIf="i%3 === 0">
      <ion-col text-center>
        <button ion-button color="dark" outline full (click)="selectWidget(widget)" class="widget">
          <img [src]="widget.imageURL">
          <p>{{widget.name}}</p>
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button color="dark" outline full *ngIf="widgets[i+1]" (click)="selectWidget(widgets[i+1])" class="widget">
          <img [src]="widgets[i+1].imageURL">
          <p>{{widgets[i+1].name}}</p>
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button color="dark" outline full *ngIf="widgets[i+2]" (click)="selectWidget(widgets[i+2])" class="widget">
          <img [src]="widgets[i+2].imageURL">
          <p>{{widgets[i+2].name}}</p>
        </button>
      </ion-col>
    </ion-row>
  </ng-container>

</ion-content>
