page-widget-add {
    ion-header {
        ion-toolbar > .toolbar-background {
            border-bottom: solid 2px color($colors, default, base) !important;
        }
        .sub-title > .toolbar-title {
            text-align: center;
            color: #000 !important;
        }
    }

    ion-content {
        .scroll-content {
            background: color($colors, light);
        }

        .widget {
            background: #fff;
            border: solid 1px !important;
            height: 54px;
        }
    }
}
